DATABASE_URL="postgresql://dre_financeiro_app:SENHA@127.0.0.1:5433/dre_financeiro"
AUTH_SESSION_TTL_HOURS="72"

NIBO_BASE_URL="https://www.nibo.com.br/log-in"
NIBO_HEADLESS="true"
NIBO_DRY_RUN="false"
NIBO_SYNC_LOOKBACK_DAYS="7"
NIBO_INITIAL_SYNC_MAX_DAYS="14"
NIBO_DOWNLOAD_DIR=".nibo-downloads"
NIBO_STORAGE_STATE=""
NIBO_SYNC_TRIGGER="manual"
